<config>
	<mesure>
		<name>GRAMME</name>
		<symbol>g</symbol>
		<convert>1000000</convert>
	</mesure>
	<mesure>
		<name>LITER</name>
		<symbol>l</symbol>
		<convert>1000</convert>
	</mesure>
	<mesure>
		<name>CUBE</name>
		<symbol>m3</symbol>
		<convert>1</convert>
	</mesure>
	<prefixunits>
		<name>KILO</name>
		<symbol>k</symbol>
		<convert>1</convert>
	</prefixunits>
	<prefixunits>
		<name>HECTO</name>
		<symbol>h</symbol>
		<convert>10</convert>
	</prefixunits>
	<prefixunits>
		<name>DECA</name>
		<symbol>da</symbol>
		<convert>100</convert>
	</prefixunits>
	<prefixunits>
		<name>NONE</name>
		<symbol></symbol>
		<convert>1000</convert>
	</prefixunits>
	<prefixunits>
		<name>DECI</name>
		<symbol>d</symbol>
		<convert>10000</convert>
	</prefixunits>
	<prefixunits>
		<name>CENTI</name>
		<symbol>c</symbol>
		<convert>100000</convert>
	</prefixunits>
	<prefixunits>
		<name>MILI</name>
		<symbol>m</symbol>
		<convert>1000000</convert>
	</prefixunits>
</config>